# Ignore system files
.DS_Store
Thumbs.db


###########################################################################################
# DATA240
###########################################################################################
DATA240/BonusAssignment1/fashion_mnist1.csv
DATA240/GroupProject/data



###########################################################################################
# DATA255
###########################################################################################
# Ignore datasets in DATA255/homework3
DATA255/homework3/data/
DATA255/homework3/simpsons_dataset_custom/

# Ignore datasets in DATA255/homework4
DATA255/homework4/part2_COCO_data/
DATA255/homework4/streetview.mp4
DATA255/homework4/result.mp4
DATA255/homework4/frames/
DATA255/homework4/detectron2
DATA255/homework7/glove.6B.50d.txt
DATA255/homework11/.env

# Ignore datasets in DATA255/homework5
# DATA255/homework5/homework3_SungwonLee.zip
DATA255/demo/data
DATA255/homework5/data/
DATA255/homework5/samples/
DATA255/homework5/modified_samples/
DATA255/homework5/LSGAN_images_dir/
DATA255/homework5/gans_training_fashionMnist.avi
DATA255/homework5/gans_training_new.avi
DATA255/homework5/lsgans_training_300+300.avi
DATA255/homework6
DATA255/homework6/HW_06 Dataset/
DATA255/homework6/img_align_celeba/
DATA255/homework6/data
DATA255/homework6/final_cycleGAN_model.pth
DATA255/homework6/Homework6_SungwonLee.ipynb
DATA255/demo/demo09
# DATA255/homework6/.ipynb_checkpoints/

